# =========================
# OS / System
# =========================
.DS_Store
**/.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual Env
# =========================
.venv/
venv/
env/
backend/.venv/
backend/venv/

# =========================
# Env files (IMPORTANT)
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# Build / cache
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage/
dist/
build/

app/api/v1/__pycache__/